In [1]:
import pandas as pd
import numpy as n

In [2]:
df=pd.read_csv('scores.csv', comment='#', escapechar='\t')
for i in df:
    if i[0]=='\t':
        i==i[1:]
        df.rename(columns={i: i[1:]}, inplace=True)
df

,week,day,month,year,home,hscore,hmatch,hpoint,htotal,away,ascore,amatch,apoint,atotal,stadium,city
0,1,1,7,2023,Bali United FC,0,1,0,0,PSS Sleman,1,1,3,3,Kapten I Wayan Dipta,Gianyar
1,1,1,7,2023,Persis Solo,2,1,0,0,Persebaya Surabaya,3,1,3,3,Manahan,Solo
2,1,2,7,2023,Persib Bandung,1,1,1,1,Madura United FC,1,1,1,1,Gelora Bandung Lautan Api,Bandung
3,1,2,7,2023,Dewa United FC,1,1,3,3,Arema FC,0,1,0,0,Indomilk Arena,Tangerang
4,1,2,7,2023,PS Barito Putera,2,1,3,3,Persita Tangerang,0,1,0,0,Demang Lehman,Martapura
5,1,3,7,2023,Rans Nusantara FC,2,1,3,3,Persikabo 1973,1,1,0,0,Maguwoharjo,Sleman
6,1,3,7,2023,Persik Kediri,1,1,1,1,Borneo FC Samarinda,1,1,1,1,Brawijaya,Kediri
7,1,3,7,2023,PSIS Semarang,3,1,3,3,Bhayangkara FC,1,1,0,0,Jatidiri,Semarang
8,1,3,7,2023,Persija Jakarta,1,1,1,1,PSM Makassar,1,1,1,1,Gelora Bung Karno,Jakarta Pusat
9,2,7,7,2023,PSS Sleman,2,1,1,4,Persis Solo,2,1,1,1,Maguwoharjo,Sleman
10,2,7,7,2023,Arema FC,3,1,1,1,Persib Bandung,3,1,1,2,Kapten I Wayan Dipta,Gianyar
11,2,8,7,2023,Persebaya Surabaya,1,1,1,4,PS Barito Putera,1,1,1,4,Gelora Bung Tomo,Surabaya
12,2,8,7,2023,PSM Makassar,1,1,0,1,Dewa United FC,2,1,3,6,Gelora B. J. Habibie,Pare-pare
13,2,8,7,2023,Persita Tangerang,2,1,3,3,PSIS Semarang,0,1,0,3,Indomilk Arena,Tangerang
14,2,8,7,2023,Borneo FC Samarinda,3,1,3,4,Bali United FC,1,1,0,0,Segiri,Samarinda
15,2,9,7,2023,Madura United FC,3,1,3,4,Persik Kediri,2,1,0,1,Gelora Madura Ratu Pamelingan,Pamekasan
16,2,9,7,2023,Bhayangkara FC,1,1,0,0,Rans Nusantara FC,2,1,3,6,Patriot Chandra Bhaga,Bekasi
17,2,9,7,2023,Persikabo 1973,0,1,1,1,Persija Jakarta,0,1,1,2,Pakansari,Kabupaten Bogor
18,3,14,7,2023,Persikabo 1973,0,2,0,1,PSM Makassar,1,2,3,4,Pakansari,Kabupaten Bogor
19,3,14,7,2023,PS Barito Putera,3,2,3,7,PSS Sleman,1,2,0,4,Demang Lehman,Martapura
20,3,14,7,2023,Persib Bandung,2,2,1,3,Dewa United FC,2,2,1,7,Gelora Bandung Lautan Api,Bandung
21,3,15,7,2023,Rans Nusantara FC,0,2,0,6,Persita Tangerang,1,2,3,6,Maguwoharjo,Sleman
22,3,15,7,2023,Persik Kediri,5,2,3,4,Arema FC,2,2,0,1,Brawijaya,Kediri
23,3,15,7,2023,Persis Solo,2,2,3,4,Borneo FC Samarinda,1,2,0,4,Manahan,Solo
24,3,15,7,2023,Bali United FC,2,2,3,3,Madura United FC,1,2,0,4,Kapten I Wayan Dipta,Gianyar
25,3,16,7,2023,PSIS Semarang,2,2,3,6,Persebaya Surabaya,0,2,0,4,Jatidiri,Semarang
26,3,16,7,2023,Persija Jakarta,4,2,3,5,Bhayangkara FC,1,2,0,0,Patriot Chandra Bhaga,Bekasi

In [39]:
ket = open('scores.csv', 'r').readlines()
ket[-1]

'#home total = total points (cumulative) earned in total for team in home column'

### algorithm cekson

In [63]:
df.loc[df.home.str.contains('Kediri')]

,week,day,month,year,home,hscore,hmatch,hpoint,htotal,away,ascore,amatch,apoint,atotal,stadium,city
6,1,3,7,2023,Persik Kediri,1,1,1,1,Borneo FC Samarinda,1,1,1,1,Brawijaya,Kediri
22,3,15,7,2023,Persik Kediri,5,2,3,4,Arema FC,2,2,0,1,Brawijaya,Kediri

In [65]:
# home or away at certain week
hora = df.loc[
   ( (df.home.str.contains('Bali')) | (df.away.str.contains('Bali')) ) & (df['week']==3)
]

hora

,week,day,month,year,home,hscore,hmatch,hpoint,htotal,away,ascore,amatch,apoint,atotal,stadium,city
24,3,15,7,2023,Bali United FC,2,2,3,3,Madura United FC,1,2,0,4,Kapten I Wayan Dipta,Gianyar

In [66]:
df.loc[df.home.str.contains('Bali') | df.away.str.contains('Bali')]

,week,day,month,year,home,hscore,hmatch,hpoint,htotal,away,ascore,amatch,apoint,atotal,stadium,city
0,1,1,7,2023,Bali United FC,0,1,0,0,PSS Sleman,1,1,3,3,Kapten I Wayan Dipta,Gianyar
14,2,8,7,2023,Borneo FC Samarinda,3,1,3,4,Bali United FC,1,1,0,0,Segiri,Samarinda
24,3,15,7,2023,Bali United FC,2,2,3,3,Madura United FC,1,2,0,4,Kapten I Wayan Dipta,Gianyar

In [67]:
hgf=df.loc[df.home.str.contains('Bali')]['hscore'].sum() #goal for
agf=df.loc[df.away.str.contains('Bali')]['ascore'].sum()
hga=df.loc[df.home.str.contains('Bali')]['ascore'].sum() #goal against
aga=df.loc[df.away.str.contains('Bali')]['hscore'].sum()
win=df[((df['home'] == 'Bali United FC') & (df['hpoint'] == 3)) | ((df['away'] == 'Bali United FC') & (df['apoint'] == 3))].shape[0]
draw=df[((df['home'] == 'Bali United FC') & (df['hpoint'] == 1)) | ((df['away'] == 'Bali United FC') & (df['apoint'] == 1))].shape[0]
lose=df[((df['home'] == 'Bali United FC') & (df['hpoint'] == 0)) | ((df['away'] == 'Bali United FC') & (df['apoint'] == 0))].shape[0]
print(hgf,agf,hga,aga,win,draw,lose)

2 1 2 3 1 0 2

In [228]:
if hora.home.str.contains('Bali').item():
    total_point=hora.htotal
else:
    total_point=hora.atotal
total_point

14    0
Name: atotal, dtype: int64

# klasemen pekan ke

In [3]:
club = df['home'].unique()
club

array(['Bali United FC', 'Persis Solo', 'Persib Bandung',
       'Dewa United FC', 'PS Barito Putera', 'Rans Nusantara FC',
       'Persik Kediri', 'PSIS Semarang', 'Persija Jakarta', 'PSS Sleman',
       'Arema FC', 'Persebaya Surabaya', 'PSM Makassar',
       'Persita Tangerang', 'Borneo FC Samarinda', 'Madura United FC',
       'Bhayangkara FC', 'Persikabo 1973'], dtype=object)

In [4]:
points = []
hgf=[]
agf=[]
hga=[]
aga=[]
win=[]
draw=[]
lose=[]
for cl in club:
    hora = df.loc[ ( (df.home.str.contains(cl)) | (df.away.str.contains(cl)) ) & (df['week']==3) ]
    
    hgf.append(df.loc[df.home.str.contains(cl)]['hscore'].sum()) #goal for
    agf.append(df.loc[df.away.str.contains(cl)]['ascore'].sum())
    hga.append(df.loc[df.home.str.contains(cl)]['ascore'].sum()) #goal against
    aga.append(df.loc[df.away.str.contains(cl)]['hscore'].sum())
    
    win.append(df[((df['home'] == cl) & (df['hpoint'] == 3)) | ((df['away'] == cl) & (df['apoint'] == 3))].shape[0])
    draw.append(df[((df['home'] == cl) & (df['hpoint'] == 1)) | ((df['away'] == cl) & (df['apoint'] == 1))].shape[0])
    lose.append(df[((df['home'] == cl) & (df['hpoint'] == 0)) | ((df['away'] == cl) & (df['apoint'] == 0))].shape[0])

    if hora.home.str.contains(cl).item():
        points.append(hora['htotal'].values[0])
        #win.append
    else:
        points.append(hora['atotal'].values[0])
points

[3, 4, 3, 7, 7, 6, 4, 6, 5, 4, 1, 4, 4, 6, 4, 4, 0, 1]

## head to head

In [330]:
df.groupby(["home","away"])

In [172]:
dff=df.groupby(["home","away"]).agg({'hscore':['max'],'ascore':['max'],
                                     'hpoint':['max'],'apoint':['max']})
dff.columns=dff.columns.droplevel(1)
#dff = dff.unstack(fill_value=0)
#dff = pd.merge(dff, df[['home', 'away', 'hscore', 'ascore']], on=['home', 'away'])
dff

                                         hscore  ascore  hpoint  apoint
home                away
Arema FC            Persib Bandung            3       3       1       1
Bali United FC      Madura United FC          2       1       3       0
                    PSS Sleman                0       1       0       3
Bhayangkara FC      Rans Nusantara FC         1       2       0       3
Borneo FC Samarinda Bali United FC            3       1       3       0
Dewa United FC      Arema FC                  1       0       3       0
Madura United FC    Persik Kediri             3       2       3       0
PS Barito Putera    PSS Sleman                3       1       3       0
                    Persita Tangerang         2       0       3       0
PSIS Semarang       Bhayangkara FC            3       1       3       0
                    Persebaya Surabaya        2       0       3       0
PSM Makassar        Dewa United FC            1       2       0       3
PSS Sleman          Persis Solo               2       2       1       1
Persebaya Surabaya  PS Barito Putera          1       1       1       1
Persib Bandung      Dewa United FC            2       2       1       1
                    Madura United FC          1       1       1       1
Persija Jakarta     Bhayangkara FC            4       1       3       0
                    PSM Makassar              1       1       1       1
Persik Kediri       Arema FC                  5       2       3       0
                    Borneo FC Samarinda       1       1       1       1
Persikabo 1973      PSM Makassar              0       1       0       3
                    Persija Jakarta           0       0       1       1
Persis Solo         Borneo FC Samarinda       2       1       3       0
                    Persebaya Surabaya        2       3       0       3
Persita Tangerang   PSIS Semarang             2       0       3       0
Rans Nusantara FC   Persikabo 1973            2       1       3       0
                    Persita Tangerang         0       1       0       3

### cekson refer elemen multi-level datafrem

In [176]:
dff.loc[['Persis Solo']]

                                 hscore  ascore  hpoint  apoint
home        away
Persis Solo Borneo FC Samarinda       2       1       3       0
            Persebaya Surabaya        2       3       0       3

In [177]:
dff.loc[dff.index.get_level_values('away')=='Persis Solo'] #iloc juga bisa

                        hscore  ascore  hpoint  apoint
home       away
PSS Sleman Persis Solo       2       2       1       1

In [173]:
#dff.loc[['Persis Solo']]
#dff.loc[dff.index.get_level_values('away')=='Persis Solo'] #iloc juga bisa
dff.loc[[('PSS Sleman','Persis Solo'),('Persis Solo','Borneo FC Samarinda')]]

                                 hscore  ascore  hpoint  apoint
home        away
PSS Sleman  Persis Solo               2       2       1       1
Persis Solo Borneo FC Samarinda       2       1       3       0

In [183]:
print(
    dff.loc[('Persis Solo', 'Borneo FC Samarinda')]['hpoint'],
    dff.loc[('PSS Sleman', 'Persis Solo')]['hpoint']
)

3 1

### who's upper?

In [185]:
#GIMANA INI?

max(
    (dff.loc[('Persis Solo','Borneo FC Samarinda')]['hpoint']),
    (dff.loc[('PSS Sleman','Persis Solo')]['hpoint'])
)

3

In [328]:
def h2h(club,st):
    eq=df.loc[
        ( (df['home']==club[st]) & (df['away']==club[st+1]) )|
        ( (df['away']==club[st]) & (df['home']==club[st+1]) ),
        ['home','away','hpoint']
    ].reset_index(drop=True)
    
    if len(eq)<=1:
        eq.loc[1]=n.nan
        if len(eq)<=1:
            eq.loc[0]=n.nan
    
    if pd.isnan(eq.home[0]):
        ret=club[st]
    else:
        ret=eq.sort_values(by='hpoint')['home'].reset_index(drop=True)[0]
    
    return(ret)

## klasemen

In [24]:
tables = pd.DataFrame ({"Clubs": club, "Won":win, "Drawn":draw, "Lost":lose, 
                        "GF":[h + a for h, a in zip(hgf, agf)], "GA":[h + a for h, a in zip(hga, aga)], 
                        "Points": points})
#tables["GD"]=tables['GF']-tables['GA']
tables.insert(len(tables.columns)-1, "GD", (tables['GF']-tables['GA']))

tables.index=tables.index + 1
tables.sort_values(by=['Points','GD','GF'], ascending=False).reset_index(drop=True)
tables

                  Clubs  Won  Drawn  Lost  GF  GA  GD  Points
1        Bali United FC    1      0     2   3   5  -2       3
2           Persis Solo    1      1     1   6   6   0       4
3        Persib Bandung    0      3     0   6   6   0       3
4        Dewa United FC    2      1     0   5   3   2       7
5      PS Barito Putera    2      1     0   6   2   4       7
6     Rans Nusantara FC    2      0     1   4   3   1       6
7         Persik Kediri    1      1     1   8   6   2       4
8         PSIS Semarang    2      0     1   5   3   2       6
9       Persija Jakarta    1      2     0   5   2   3       5
10           PSS Sleman    1      1     1   4   5  -1       4
11             Arema FC    0      1     2   5   9  -4       1
12   Persebaya Surabaya    1      1     1   4   5  -1       4
13         PSM Makassar    1      1     1   3   3   0       4
14    Persita Tangerang    2      0     1   3   2   1       6
15  Borneo FC Samarinda    1      1     1   5   4   1       4
16     Madura United FC    1      1     1   5   5   0       4
17       Bhayangkara FC    0      0     3   3   9  -6       0
18       Persikabo 1973    0      1     2   1   3  -2       1

### algorithm cekson

In [331]:
dicoba=h2h(tables['Clubs'],1)
dicoba

AttributeError: module 'pandas' has no attribute 'isnan'

In [309]:
eq=df.loc[
    ( (df['home']==tables['Clubs'][1]) & (df['away']==tables['Clubs'][1+1]) )|
    ( (df['away']==tables['Clubs'][1]) & (df['home']==tables['Clubs'][1+1]) ),
    ['home','away','hpoint']
].reset_index(drop=True)

#if len(eq)==0:
#    eq.loc[0]=n.nan
if len(eq)<=1:
    eq.loc[1]=n.nan
    if len(eq)<=1:
        eq.loc[0]=n.nan
    #eq=eq.sort_index()
    
if n.isnan(eq.home[0]):
    #print ('y')
    ret=tables['Clubs'][1]
else:
    ret=eq.sort_values(by='hpoint')['home'].reset_index(drop=True)[0]
    
#max(eq['hpoint'][0],eq['hpoint'][1])

#eq.sort_values(by='hpoint')['home'][0]
#len(eq)
print(eq)
print(ret)
print(f'eq[home][0] = {eq.home[0]}')
tables['Clubs'][1]

  home away  hpoint
1  NaN  NaN     NaN
0  NaN  NaN     NaN
Dewa United FC
eq[home][0] = nan

'Dewa United FC'

In [343]:
eq=df.loc[
    ( (df['home']==tables['Clubs'][3]) & (df['away']==tables['Clubs'][3+1]) )|
    ( (df['away']==tables['Clubs'][3]) & (df['home']==tables['Clubs'][3+1]) ),
    ['home','away','hpoint','apoint']
].reset_index(drop=True)

if len(eq)<=1:
    eq.loc[1]=n.nan
    if len(eq)<=1:
        eq.loc[0]=n.nan
eq=eq.sort_index()
eq

                home               away  hpoint  apoint
0  Rans Nusantara FC  Persita Tangerang     0.0     3.0
1                NaN                NaN     NaN     NaN

# hitung home away poin dari mana

#### hitung poin home/away klub peringkat 1 yang diperoleh dari peringkat 14-18

In [298]:
df.loc[(df['home']==tables['Clubs'][1]) & (df['away'].isin(tables['Clubs'].iloc[13:18])), ['home', 'hpoint']]

             home  hpoint
3  Dewa United FC       3

In [289]:
df.loc[df['away'].isin(tables['Clubs'].iloc[0:3])]

,week,day,month,year,home,hscore,hmatch,hpoint,htotal,away,ascore,amatch,apoint,atotal,stadium,city
0,1,1,7,2023,Bali United FC,0,1,0,0,PSS Sleman,1,1,3,3,Kapten I Wayan Dipta,Gianyar
12,2,8,7,2023,PSM Makassar,1,1,0,1,Dewa United FC,2,1,3,6,Gelora B. J. Habibie,Pare-pare
16,2,9,7,2023,Bhayangkara FC,1,1,0,0,Rans Nusantara FC,2,1,3,6,Patriot Chandra Bhaga,Bekasi

In [299]:
df.loc[(df['away']==tables['Clubs'][1]) & (df['home'].isin(tables['Clubs'].iloc[13:18])), ['away', 'apoint']]

Empty DataFrame
Columns: [away, apoint]
Index: []

In [297]:
#ok