In [1]:
import pandas as pd
import numpy as n

In [8]:
df=pd.read_csv('scores.csv', comment='#', escapechar='\t')
for i in df:
    if i[0]=='\t':
        i==i[1:]
        df.rename(columns={i: i[1:]}, inplace=True)
df=df.loc[df['week']<=9, ['week','home','hmatch','htotal','away','amatch','atotal']] # PEKAN BERAPA
df

,week,home,hmatch,htotal,away,amatch,atotal
0,1,Bali United FC,1,0,PSS Sleman,1,3
1,1,Persis Solo,1,0,Persebaya Surabaya,1,3
2,1,Persib Bandung,1,1,Madura United FC,1,1
3,1,Dewa United FC,1,3,Arema FC,1,0
4,1,PS Barito Putera,1,3,Persita Tangerang,1,0
...,...,...,...,...,...,...,...
76,9,Rans Nusantara FC,5,16,Dewa United FC,5,12
77,9,PS Barito Putera,5,17,Persik Kediri,5,11
78,9,Persis Solo,5,12,Bali United FC,4,14
79,9,Persija Jakarta,5,13,Arema FC,5,3
80,9,PSIS Semarang,5,14,Persib Bandung,5,11

In [9]:
dff=df.groupby(["home","away"]).agg({'hmatch':['max'],'htotal':['max'],'week':['max']})
dff

                                    hmatch htotal week
                                       max    max  max
home              away
Arema FC          Bali United FC         2      1    4
                  PS Barito Putera       3      2    6
                  Persib Bandung         1      1    2
                  Rans Nusantara FC      4      2    8
Bali United FC    Dewa United FC         3      9    5
...                                    ...    ...  ...
Rans Nusantara FC Dewa United FC         5     16    9
                  Madura United FC       4     12    7
                  PSS Sleman             3      8    5
                  Persikabo 1973         1      3    1
                  Persita Tangerang      2      6    3

[81 rows x 3 columns]

# home matches count

In [10]:
#counth=df.groupby(["home"]).agg({'hmatch':['max'],'htotal':['max']}).sort_values(by=('htotal','max'), ascending=False).reset_index()
counth=df.groupby(["home"]).agg({'week':['max'],'hmatch':['max']}).sort_values(by=('week','max')).reset_index()
counth.columns=counth.columns.droplevel(1)
counth.index=counth.index +1
counth

                   home  week  hmatch
1          PSM Makassar     6       3
2         Persik Kediri     8       4
3        Persib Bandung     8       4
4            PSS Sleman     8       4
5      Madura United FC     8       4
6              Arema FC     8       4
7   Borneo FC Samarinda     8       4
8        Bali United FC     8       5
9        Dewa United FC     8       4
10     PS Barito Putera     9       5
11        PSIS Semarang     9       5
12    Persita Tangerang     9       5
13   Persebaya Surabaya     9       5
14       Bhayangkara FC     9       5
15      Persija Jakarta     9       5
16       Persikabo 1973     9       5
17          Persis Solo     9       5
18    Rans Nusantara FC     9       5

# away matches count

In [11]:
counta=df.groupby(["away"]).agg({'week':['max'],'amatch':['max']}).sort_values(by=('week','max')).reset_index()
counta.columns=counta.columns.droplevel(1)
counta.index=counta.index +1
counta

                   away  week  amatch
1    Persebaya Surabaya     7       4
2     Rans Nusantara FC     8       4
3           Persis Solo     8       4
4        Bhayangkara FC     8       4
5        Persikabo 1973     8       4
6       Persija Jakarta     8       4
7      PS Barito Putera     8       4
8         PSIS Semarang     8       4
9     Persita Tangerang     8       4
10        Persik Kediri     9       5
11       Persib Bandung     9       5
12             Arema FC     9       5
13     Madura United FC     9       5
14       Dewa United FC     9       5
15  Borneo FC Samarinda     9       5
16       Bali United FC     9       4
17           PSS Sleman     9       5
18         PSM Makassar     9       6