In [1]:
import pandas as pd
import matplotlib.pyplot as p
import numpy as n

In [2]:
df = pd.read_csv('scores.csv', comment='#', escapechar='\t')

# try chatgpt code
# Remove leading tabs from column names
df.rename(columns=lambda x: x.strip('\t ') if isinstance(x, str) else x, inplace=True)
df['city'] = df['city'].str.lstrip()
df

,week,day,month,year,home,hscore,hmatch,hpoint,htotal,away,ascore,amatch,apoint,atotal,stadium,city
0,1,1,7,2023,Bali United FC,0,1,0,0,PSS Sleman,1,1,3,3,Kapten I Wayan Dipta,Gianyar
1,1,1,7,2023,Persis Solo,2,1,0,0,Persebaya Surabaya,3,1,3,3,Manahan,Solo
2,1,2,7,2023,Persib Bandung,1,1,1,1,Madura United FC,1,1,1,1,Gelora Bandung Lautan Api,Bandung
3,1,2,7,2023,Dewa United FC,1,1,3,3,Arema FC,0,1,0,0,Indomilk Arena,Tangerang
4,1,2,7,2023,PS Barito Putera,2,1,3,3,Persita Tangerang,0,1,0,0,Demang Lehman,Martapura
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130,15,7,10,2023,Persebaya Surabaya,2,8,0,22,Persib Bandung,3,8,3,27,Gelora Bung Tomo,Surabaya
131,15,7,10,2023,Persija Jakarta,1,8,1,20,PS Barito Putera,1,8,1,22,Patriot Chandra Bhaga,Bekasi
132,15,8,10,2023,PSM Makassar,0,6,0,18,Madura United FC,2,8,3,30,Gelora B. J. Habibie,Pare-pare
133,15,8,10,2023,Persita Tangerang,2,8,1,15,Persik Kediri,2,8,1,19,Indomilk Arena,Tangerang
134,15,8,10,2023,Bhayangkara FC,1,8,0,6,Bali United FC,2,7,3,24,Patriot Chandra Bhaga,Bekasi

In [3]:
df.columns

Index(['week', 'day', 'month', 'year', 'home', 'hscore', 'hmatch', 'hpoint',
       'htotal', 'away', 'ascore', 'amatch', 'apoint', 'atotal', 'stadium',
       'city'],
      dtype='object')

In [3]:
club = sorted(df['home'].unique())
print(club)

['Arema FC', 'Bali United FC', 'Bhayangkara FC', 'Borneo FC Samarinda', 'Dewa United FC', 'Madura United FC', 'PS Barito Putera', 'PSIS Semarang', 'PSM Makassar', 'PSS Sleman', 'Persebaya Surabaya', 'Persib Bandung', 'Persija Jakarta', 'Persik Kediri', 'Persikabo 1973', 'Persis Solo', 'Persita Tangerang', 'Rans Nusantara FC']

In [5]:
for prit in range (len(club)):
    print(club[prit].strip('')+',')

Arema FC,
Bali United FC,
Bhayangkara FC,
Borneo FC Samarinda,
Dewa United FC,
Madura United FC,
PS Barito Putera,
PSIS Semarang,
PSM Makassar,
PSS Sleman,
Persebaya Surabaya,
Persib Bandung,
Persija Jakarta,
Persik Kediri,
Persikabo 1973,
Persis Solo,
Persita Tangerang,
Rans Nusantara FC,

In [6]:
home = (df['stadium']+','+df['city']).unique()
for prit in range (len(home)):
    print(home[prit].strip(','))

Kapten I Wayan Dipta,Gianyar
Manahan,Solo
Gelora Bandung Lautan Api,Bandung
Indomilk Arena,Tangerang
Demang Lehman,Martapura
Maguwoharjo,Sleman
Brawijaya,Kediri
Jatidiri,Semarang
Gelora Bung Karno,Jakarta Pusat
Gelora Bung Tomo,Surabaya
Gelora B. J. Habibie,Pare-pare
Segiri,Samarinda
Gelora Madura Ratu Pamelingan,Pamekasan
Patriot Chandra Bhaga,Bekasi
Pakansari,Bogor
Wibawa Mukti,Bekasi
Sriwedari,Solo
Gelora Bangkalan,Bangkalan

In [7]:
df.groupby(['home','stadium']).agg({'week':'count', 'hpoint':'sum'})

                                                   week  hpoint
home                stadium
Arema FC            Kapten I Wayan Dipta              6       5
Bali United FC      Kapten I Wayan Dipta              7      13
Bhayangkara FC      Patriot Chandra Bhaga             6       1
Borneo FC Samarinda Segiri                            6      16
Dewa United FC      Indomilk Arena                    6      11
Madura United FC    Gelora Bangkalan                  4      10
                    Gelora Madura Ratu Pamelingan     2       6
PS Barito Putera    Demang Lehman                     6      15
PSIS Semarang       Jatidiri                          6      13
PSM Makassar        Gelora B. J. Habibie              5       9
PSS Sleman          Maguwoharjo                       6       7
Persebaya Surabaya  Gelora Bung Tomo                  6      11
Persib Bandung      Gelora Bandung Lautan Api         6      10
Persija Jakarta     Gelora Bung Karno                 2       4
                    Patriot Chandra Bhaga             4       6
Persik Kediri       Brawijaya                         6       8
Persikabo 1973      Pakansari                         2       1
                    Wibawa Mukti                      4       2
Persis Solo         Manahan                           5      12
                    Sriwedari                         1       1
Persita Tangerang   Indomilk Arena                    6       6
Rans Nusantara FC   Maguwoharjo                       6      11

In [8]:
df.groupby(['home','stadium']).agg({'week':'count', 'hpoint':'sum'}).sort_values(by='hpoint')

                                                   week  hpoint
home                stadium
Persis Solo         Sriwedari                         1       1
Bhayangkara FC      Patriot Chandra Bhaga             6       1
Persikabo 1973      Pakansari                         2       1
                    Wibawa Mukti                      4       2
Persija Jakarta     Gelora Bung Karno                 2       4
Arema FC            Kapten I Wayan Dipta              6       5
Persija Jakarta     Patriot Chandra Bhaga             4       6
Madura United FC    Gelora Madura Ratu Pamelingan     2       6
Persita Tangerang   Indomilk Arena                    6       6
PSS Sleman          Maguwoharjo                       6       7
Persik Kediri       Brawijaya                         6       8
PSM Makassar        Gelora B. J. Habibie              5       9
Persib Bandung      Gelora Bandung Lautan Api         6      10
Madura United FC    Gelora Bangkalan                  4      10
Persebaya Surabaya  Gelora Bung Tomo                  6      11
Dewa United FC      Indomilk Arena                    6      11
Rans Nusantara FC   Maguwoharjo                       6      11
Persis Solo         Manahan                           5      12
PSIS Semarang       Jatidiri                          6      13
Bali United FC      Kapten I Wayan Dipta              7      13
PS Barito Putera    Demang Lehman                     6      15
Borneo FC Samarinda Segiri                            6      16

In [9]:
df.groupby(['stadium','home']).agg({'week':'count'})

                                                   week
stadium                       home
Brawijaya                     Persik Kediri           6
Demang Lehman                 PS Barito Putera        6
Gelora B. J. Habibie          PSM Makassar            5
Gelora Bandung Lautan Api     Persib Bandung          6
Gelora Bangkalan              Madura United FC        4
Gelora Bung Karno             Persija Jakarta         2
Gelora Bung Tomo              Persebaya Surabaya      6
Gelora Madura Ratu Pamelingan Madura United FC        2
Indomilk Arena                Dewa United FC          6
                              Persita Tangerang       6
Jatidiri                      PSIS Semarang           6
Kapten I Wayan Dipta          Arema FC                6
                              Bali United FC          7
Maguwoharjo                   PSS Sleman              6
                              Rans Nusantara FC       6
Manahan                       Persis Solo             5
Pakansari                     Persikabo 1973          2
Patriot Chandra Bhaga         Bhayangkara FC          6
                              Persija Jakarta         4
Segiri                        Borneo FC Samarinda     6
Sriwedari                     Persis Solo             1
Wibawa Mukti                  Persikabo 1973          4

In [10]:
df.groupby(['away']).agg({'week':'count', 'apoint':'sum'})

                     week  apoint
away
Arema FC                6       5
Bali United FC          5       4
Bhayangkara FC          6       5
Borneo FC Samarinda     6       6
Dewa United FC          6       6
Madura United FC        6      10
PS Barito Putera        6       5
PSIS Semarang           6       5
PSM Makassar            7       9
PSS Sleman              6      10
Persebaya Surabaya      6       7
Persib Bandung          6       8
Persija Jakarta         6       7
Persik Kediri           6       4
Persikabo 1973          6       6
Persis Solo             6       2
Persita Tangerang       6       5
Rans Nusantara FC       6      11

In [11]:
df.groupby(['away']).agg({'week':'count', 'apoint':'sum'}).sort_values(by='apoint')

                     week  apoint
away
Persis Solo             6       2
Bali United FC          5       4
Persik Kediri           6       4
Arema FC                6       5
Bhayangkara FC          6       5
PS Barito Putera        6       5
PSIS Semarang           6       5
Persita Tangerang       6       5
Borneo FC Samarinda     6       6
Dewa United FC          6       6
Persikabo 1973          6       6
Persebaya Surabaya      6       7
Persija Jakarta         6       7
Persib Bandung          6       8
PSM Makassar            7       9
Madura United FC        6      10
PSS Sleman              6      10
Rans Nusantara FC       6      11

# homebase

In [4]:
hbdf = pd.read_csv('homebase.csv', comment='#', escapechar='\t')
hbdf.rename(columns=lambda x: x.strip('\t ') if isinstance(x, str) else x, inplace=True)

for col in hbdf.columns:
    hbdf[col] = hbdf[col].apply(lambda x: x.strip('\t')if isinstance(x, str) else x)
    hbdf[col] = hbdf[col].apply(lambda x: x.lstrip() if isinstance(x, str) else x)
hbdf

,club,homebase,city,homelib,citylib,played,falsehome,dom
0,Arema FC,Kanjuruhan,Malang,Kanjuruhan,Malang,no,Kapten I Wayan Dipta,Gianyar
1,Bali United FC,Kapten I Wayan Dipta,Gianyar,Kapten I Wayan Dipta,Gianyar,yes,NaN,NaN
2,Bhayangkara FC,Patriot Chandra Bhaga,Bekasi,Wibawa Mukti,Bekasi,yes,NaN,NaN
3,Borneo FC Samarinda,Segiri,Samarinda,Segiri,Samarinda,yes,NaN,NaN
4,Dewa United FC,Indomilk Arena,Tangerang,Indomilk Arena,Tangerang,yes,NaN,NaN
5,Madura United FC,Gelora Bangkalan,Bangkalan,Gelora Madura Ratu Pamelingan,Pamekasan,yes,NaN,NaN
6,PS Barito Putera,17 Mei,Banjarmasin,Demang Lehman,Martapura,yes,NaN,NaN
7,PSIS Semarang,Citarum,Semarang,Jatidiri,Semarang,yes,NaN,NaN
8,PSM Makassar,Andi Mattalatta Mattoanging,Makassar,Gelora B. J. Habibie,Pare-pare,yes,NaN,NaN
9,PSS Sleman,Maguwoharjo,Sleman,Maguwoharjo,Sleman,yes,NaN,NaN
10,Persebaya Surabaya,Gelora Bung Tomo,Surabaya,Gelora Bung Tomo,Surabaya,yes,NaN,NaN
11,Persib Bandung,Gelora Bandung Lautan Api,Bandung,Gelora Bandung Lautan Api,Bandung,yes,NaN,NaN
12,Persija Jakarta,Gelora Bung Karno,Jakarta Pusat,Patriot Chandra Bhaga,Bekasi,yes,NaN,NaN
13,Persik Kediri,Brawijaya,Kediri,Brawijaya,Kediri,yes,NaN,NaN
14,Persikabo 1973,Pakansari,Bogor,Pakansari,Bogor,yesn,Wibawa Mukti,Bekasi
15,Persis Solo,Manahan,Solo,Manahan,Solo,yesn,Sriwedari,Solo
16,Persita Tangerang,Indomilk Arena,Tangerang,Indomilk Arena,Tangerang,yes,NaN,NaN
17,Rans Nusantara FC,Maguwoharjo,Sleman,Pakansari,Bogor,yes,NaN,NaN

In [13]:
hbdf['city'].values#.apply(lambda x: x.lstrip()if isinstance(x, str) else x)

array(['Malang', 'Gianyar', 'Bekasi', 'Samarinda', 'Tangerang',
       'Bangkalan', 'Banjarmasin', 'Semarang', 'Makassar', 'Sleman',
       'Surabaya', 'Bandung', 'Jakarta Pusat', 'Kediri', 'Bogor', 'Solo',
       'Tangerang', 'Sleman'], dtype=object)

# points earned at

## algorithm cekson

In [14]:
matches = df.loc[df.home.str.contains('Persis')]
matches

,week,day,month,year,home,hscore,hmatch,hpoint,htotal,away,ascore,amatch,apoint,atotal,stadium,city
1,1,1,7,2023,Persis Solo,2,1,0,0,Persebaya Surabaya,3,1,3,3,Manahan,Solo
23,3,15,7,2023,Persis Solo,2,2,3,4,Borneo FC Samarinda,1,2,0,4,Manahan,Solo
42,5,30,7,2023,Persis Solo,1,3,1,5,Arema FC,1,3,1,2,Sriwedari,Solo
58,7,8,8,2023,Persis Solo,2,4,3,9,Persib Bandung,1,4,0,7,Manahan,Solo
78,9,19,8,2023,Persis Solo,3,5,3,12,Bali United FC,1,4,0,14,Manahan,Solo
104,12,16,9,2023,Persis Solo,2,6,3,15,PSIS Semarang,0,6,0,18,Manahan,Solo

In [15]:
hdetails = hbdf.loc[hbdf.club.str.contains('Persija')]
hdetails

,club,homebase,city,homelib,citylib,played,falsehome,dom
12,Persija Jakarta,Gelora Bung Karno,Jakarta Pusat,Patriot Chandra Bhaga,Bekasi,yes,NaN,NaN

In [16]:
masks = matches.loc[matches['stadium'] == hdetails['homebase'].values[0]]
masks

Empty DataFrame
Columns: [week, day, month, year, home, hscore, hmatch, hpoint, htotal, away, ascore, amatch, apoint, atotal, stadium, city]
Index: []

In [17]:
pointsathome = masks['hpoint'].sum()
pointsathome

0

In [19]:
falsehome = matches.loc[matches['stadium'] == hdetails['falsehome'].values[0]]
pointsfalsehome = falsehome['hpoint'].sum()
pointsfalsehome

0

In [20]:
#amatches = df.loc[df.away.str.contains('Persija')]
#amasks = matches.loc[matches['stadium'] == hdetails['homebase'].values[0]]
pointsaway = df.loc[df.away.str.contains('Persija')]['apoint'].sum()
pointsaway

7

In [21]:
df.loc[df.away.str.contains('Persija')]

,week,day,month,year,home,hscore,hmatch,hpoint,htotal,away,ascore,amatch,apoint,atotal,stadium,city
17,2,9,7,2023,Persikabo 1973,0,1,1,1,Persija Jakarta,0,1,1,2,Pakansari,Bogor
31,4,22,7,2023,Persita Tangerang,1,2,3,9,Persija Jakarta,0,2,0,5,Indomilk Arena,Tangerang
51,6,4,8,2023,PSS Sleman,1,3,0,6,Persija Jakarta,3,3,3,11,Maguwoharjo,Sleman
68,8,13,8,2023,Madura United FC,2,4,3,16,Persija Jakarta,0,4,0,12,Gelora Bangkalan,Bangkalan
83,10,25,8,2023,Dewa United FC,2,5,3,15,Persija Jakarta,0,5,0,13,Indomilk Arena,Tangerang
106,12,17,9,2023,Persik Kediri,1,6,0,12,Persija Jakarta,2,6,3,17,Brawijaya,Kediri

## points earned at home/away

In [5]:
homepoints  = []
awaypoints  = []
fhomepoints = []
totalpoints = []
thpoints    = []

for cl, std, city, dom in zip (hbdf['club'], hbdf['homebase'], hbdf['city'], hbdf['dom']):
    
    if 'Madura' in cl:
        hpe  = df.loc[( (df['home']==cl) & ( (df['stadium']==std)|(df['city']==dom) ) )]['hpoint'].sum()
        fhpe = df.loc[( (df['home']==cl) & ( (df['stadium']!=std)&(df['city']!=dom) ) )]['hpoint'].sum()
        
    else:
        hpe  = df.loc[( (df['home']==cl) & ( (df['stadium']==std)|(city==dom) ) )]['hpoint'].sum()
        fhpe = df.loc[( (df['home']==cl) & ( (df['stadium']!=std)&(city!=dom) ) )]['hpoint'].sum()
            
    ape  = df.loc[(df['away']==cl)]['apoint'].sum()
    
    homepoints.append(hpe)
    fhomepoints.append(fhpe)
    awaypoints.append(ape)
    
    thpoints.append(hpe+fhpe)
    
    totalpoints.append(hpe+fhpe+ape)

In [6]:
klsmn = pd.DataFrame ( {'Club': hbdf['club'],
                        'Home Points': homepoints,
                        'False Home Points': fhomepoints,
                        'Away Points': awaypoints,
                        'Total Points': totalpoints,
                        'th': thpoints
})
klsmn

,Club,Home Points,False Home Points,Away Points,Total Points,th
0,Arema FC,0,8,5,13,8
1,Bali United FC,16,0,8,24,16
2,Bhayangkara FC,1,0,5,6,1
3,Borneo FC Samarinda,19,0,12,31,19
4,Dewa United FC,15,0,6,21,15
5,Madura United FC,10,6,14,30,16
6,PS Barito Putera,0,16,6,22,16
7,PSIS Semarang,0,19,5,24,19
8,PSM Makassar,0,9,9,18,9
9,PSS Sleman,8,0,10,18,8
10,Persebaya Surabaya,14,0,8,22,14
11,Persib Bandung,13,0,14,27,13
12,Persija Jakarta,4,8,8,20,12
13,Persik Kediri,11,0,8,19,11
14,Persikabo 1973,1,3,6,10,4
15,Persis Solo,14,0,6,20,14
16,Persita Tangerang,10,0,5,15,10
17,Rans Nusantara FC,14,0,12,26,14

In [24]:
print(homepoints,
      awaypoints,
      fhomepoints,
      totalpoints,
      thpoints)

[0, 13, 1, 16, 11, 10, 0, 0, 0, 7, 11, 10, 4, 8, 1, 13, 6, 11] [5, 4, 5, 6, 6, 10, 5, 5, 9, 10, 7, 8, 7, 4, 6, 2, 5, 11] [5, 0, 0, 0, 0, 6, 15, 13, 9, 0, 0, 0, 6, 0, 2, 0, 0, 0] [10, 17, 6, 22, 17, 26, 20, 18, 18, 17, 18, 18, 17, 12, 9, 15, 11, 22] [5, 13, 1, 16, 11, 16, 15, 13, 9, 7, 11, 10, 10, 8, 3, 13, 6, 11]

In [25]:
print(hbdf['club'].values,
      homepoints,
      awaypoints,
      fhomepoints,
      totalpoints,
      thpoints)

['Arema FC' 'Bali United FC' 'Bhayangkara FC' 'Borneo FC Samarinda'
 'Dewa United FC' 'Madura United FC' 'PS Barito Putera' 'PSIS Semarang'
 'PSM Makassar' 'PSS Sleman' 'Persebaya Surabaya' 'Persib Bandung'
 'Persija Jakarta' 'Persik Kediri' 'Persikabo 1973' 'Persis Solo'
 'Persita Tangerang' 'Rans Nusantara FC'] [0, 13, 1, 16, 11, 10, 0, 0, 0, 7, 11, 10, 4, 8, 1, 13, 6, 11] [5, 4, 5, 6, 6, 10, 5, 5, 9, 10, 7, 8, 7, 4, 6, 2, 5, 11] [5, 0, 0, 0, 0, 6, 15, 13, 9, 0, 0, 0, 6, 0, 2, 0, 0, 0] [10, 17, 6, 22, 17, 26, 20, 18, 18, 17, 18, 18, 17, 12, 9, 15, 11, 22] [5, 13, 1, 16, 11, 16, 15, 13, 9, 7, 11, 10, 10, 8, 3, 13, 6, 11]

# points lost at

## algorithm cekson

In [26]:
df.loc[( (df['home']=='Persis Solo') & ( (df['stadium']=='Manahan')|(hbdf['city']=='Solo') ) )]#['hpoint'].count()*3

,week,day,month,year,home,hscore,hmatch,hpoint,htotal,away,ascore,amatch,apoint,atotal,stadium,city
1,1,1,7,2023,Persis Solo,2,1,0,0,Persebaya Surabaya,3,1,3,3,Manahan,Solo
23,3,15,7,2023,Persis Solo,2,2,3,4,Borneo FC Samarinda,1,2,0,4,Manahan,Solo
58,7,8,8,2023,Persis Solo,2,4,3,9,Persib Bandung,1,4,0,7,Manahan,Solo
78,9,19,8,2023,Persis Solo,3,5,3,12,Bali United FC,1,4,0,14,Manahan,Solo
104,12,16,9,2023,Persis Solo,2,6,3,15,PSIS Semarang,0,6,0,18,Manahan,Solo

In [27]:
ceka=df.loc[( (df['home']=='Persis Solo') & ( (df['stadium']=='Manahan')|(hbdf['city']=='Solo') ) )]['hpoint'].count()*3
cekb=df.loc[( (df['home']=='Persis Solo') & ( (df['stadium']=='Manahan')|(hbdf['city']=='Solo') ) )]['hpoint'].sum()
print(ceka,
      cekb)
cekc=ceka-cekb
print (cekc)

15 12
3

In [28]:
ceka=df.loc[( (df['home']=='Arema FC') & (df['stadium']!='Gajayana') )]['hpoint'].count()*3
cekb=df.loc[( (df['home']=='Arema FC') & (df['stadium']!='Gajayana') )]['hpoint'].sum()
print(ceka,
      cekb)
cekc=ceka-cekb
print (cekc)

18 5
13

In [29]:
print(df.loc[( (df['home']=='Madura United FC') & ( (df['stadium']=='Gelora Bangkalan')|(df['city']=='Pamekasan') ) )]['hpoint'].count()*3,
      df.loc[( (df['home']=='Madura United FC') & ( (df['stadium']=='Gelora Bangkalan')|(df['city']=='Pamekasan') ) )]['hpoint'].sum())

18 16

## points lost at home/away

In [7]:
def itung (syrt):
    earned = syrt.sum()#df.loc[syrt]['hpoint'].sum()
    fulll = syrt.count()*3#df.loc[syrt]['hpoint'].count()*3
    lost = fulll-earned
    return (lost)

In [8]:
homelost  = []
awaylost  = []
fhomelost = []
totallost = []
thlost    = []
for cl, std, city, dom in zip (hbdf['club'], hbdf['homebase'], hbdf['city'], hbdf['dom']):
    
    if 'Madura' in cl or city==dom:
        print('if',cl)
        # points earned
        #hpe  = df.loc[( (df['home']==cl) & ( (df['stadium']==std)|(df['city']==dom) ) )]['hpoint'].sum()
        #fhpe = df.loc[( (df['home']==cl) & ( (df['stadium']!=std)&(df['city']!=dom) ) )]['hpoint'].sum()
        # total played
        #hpfull  = df.loc[( (df['home']==cl) & ( (df['stadium']==std)|(df['city']==dom) ) )]['hpoint'].count()*3
        #fhpfull = df.loc[( (df['home']==cl) & ( (df['stadium']!=std)&(df['city']!=dom) ) )]['hpoint'].count()*3
        # points lost
        #hplost  = hpfull-hpe
        #fhplost = fhpfull-fhpe
        hplost = itung(df.loc[( (df['home']==cl) & ( (df['stadium']==std)|(df['city']==dom) ) )]['hpoint'])
        fhplost = itung(df.loc[( (df['home']==cl) & ( (df['stadium']!=std)&(df['city']!=dom) ) )]['hpoint'])
        
    else:
        print('else',cl)
        # points earned
        #hpe  = df.loc[( (df['home']==cl) & (df['stadium']==std) )]['hpoint'].sum()
        #fhpe = df.loc[( (df['home']==cl) & (df['stadium']!=std) )]['hpoint'].sum()
        #print('point earned', fhpe)
        # total played
        #hpfull  = df.loc[( (df['home']==cl) & (df['stadium']==std) )]['hpoint'].count()*3
        #fhpfull = df.loc[( (df['home']==cl) & (df['stadium']!=std) )]['hpoint'].count()*3
        #print('point full', fhpfull)
        # points lost
        #hplost  = hpfull-hpe
        #fhplost = fhpfull-fhpe
        #print('point lost', fhplost)
        hplost  = itung(df.loc[( (df['home']==cl) & (df['stadium']==std) )]['hpoint'])
        fhplost = itung(df.loc[( (df['home']==cl) & (df['stadium']!=std) )]['hpoint'])
            
    #ape  = df.loc[(df['away']==cl)]['apoint'].sum()
    #apfull = df.loc[(df['away']==cl)]['apoint'].count()*3
    aplost = itung(df.loc[(df['away']==cl)]['apoint'])
    
    homelost.append(hplost)
    fhomelost.append(fhplost)
    awaylost.append(aplost)
    
    thlost.append(hplost+fhplost)
    
    totallost.append(hplost+fhplost+aplost)

else Arema FC
else Bali United FC
else Bhayangkara FC
else Borneo FC Samarinda
else Dewa United FC
if Madura United FC
else PS Barito Putera
else PSIS Semarang
else PSM Makassar
else PSS Sleman
else Persebaya Surabaya
else Persib Bandung
else Persija Jakarta
else Persik Kediri
else Persikabo 1973
if Persis Solo
else Persita Tangerang
else Rans Nusantara FC

In [9]:
lostpoints = pd.DataFrame ( {'Club': hbdf['club'],
                        'Home lost': homelost,
                        'False Home lost': fhomelost,
                        'Away lost': awaylost,
                        'Total lost': totallost,
                        'th lost': thlost
})
lostpoints

,Club,Home lost,False Home lost,Away lost,Total lost,th lost
0,Arema FC,0,16,16,32,16
1,Bali United FC,8,0,13,21,8
2,Bhayangkara FC,23,0,16,39,23
3,Borneo FC Samarinda,2,0,12,14,2
4,Dewa United FC,9,0,15,24,9
5,Madura United FC,2,3,10,15,5
6,PS Barito Putera,0,5,18,23,5
7,PSIS Semarang,0,5,16,21,5
8,PSM Makassar,0,9,18,27,9
9,PSS Sleman,13,0,14,27,13
10,Persebaya Surabaya,10,0,13,23,10
11,Persib Bandung,8,0,10,18,8
12,Persija Jakarta,2,10,13,25,12
13,Persik Kediri,10,0,16,26,10
14,Persikabo 1973,5,15,15,35,20
15,Persis Solo,7,0,18,25,7
16,Persita Tangerang,14,0,16,30,14
17,Rans Nusantara FC,10,0,9,19,10

In [33]:
print(hbdf['club'].values,
      homelost,
      awaylost,
      fhomelost,
      totallost,
      thlost)

['Arema FC' 'Bali United FC' 'Bhayangkara FC' 'Borneo FC Samarinda'
 'Dewa United FC' 'Madura United FC' 'PS Barito Putera' 'PSIS Semarang'
 'PSM Makassar' 'PSS Sleman' 'Persebaya Surabaya' 'Persib Bandung'
 'Persija Jakarta' 'Persik Kediri' 'Persikabo 1973' 'Persis Solo'
 'Persita Tangerang' 'Rans Nusantara FC'] [0, 8, 17, 2, 7, 2, 0, 0, 0, 11, 7, 8, 2, 10, 5, 5, 12, 7] [13, 11, 13, 12, 12, 8, 13, 13, 12, 8, 11, 10, 11, 14, 12, 16, 13, 7] [13, 0, 0, 0, 0, 0, 3, 5, 6, 0, 0, 0, 6, 0, 10, 0, 0, 0] [26, 19, 30, 14, 19, 10, 16, 18, 18, 19, 18, 18, 19, 24, 27, 21, 25, 14] [13, 8, 17, 2, 7, 2, 3, 5, 6, 11, 7, 8, 8, 10, 15, 5, 12, 7]

## check

In [10]:
lostpoints['Total lost']

0     32
1     21
2     39
3     14
4     24
5     15
6     23
7     21
8     27
9     27
10    23
11    18
12    25
13    26
14    35
15    25
16    30
17    19
Name: Total lost, dtype: int64

In [11]:
klsmn['Total Points']+lostpoints['Total lost']

0     45
1     45
2     45
3     45
4     45
5     45
6     45
7     45
8     45
9     45
10    45
11    45
12    45
13    45
14    45
15    45
16    45
17    45
dtype: int64